<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>{% block title %}{% endblock %} | Централизованная система мониторинга и реагирования на инциденты</title>

<link rel="preload" href="fonts/Raleway-Medium.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="fonts/Raleway-Regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="fonts/Raleway-SemiBold.woff2" as="font" type="font/woff2" crossorigin />

<meta name="description" content="Централизованная система мониторинга и реагирования на инциденты" />

<!--Share-->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="auraesm.com" />
<meta property="og:title" content="Cronex.Cyber" />
<meta property="og:description" content="Централизованная система мониторинга и реагирования на инциденты" />
<meta property="og:url" content="https://auraesm.com/" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:image" content="https://auraesm.com/img/social_cover.jpg" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Cronex.Cyber" />
<meta name="twitter:description" content="Централизованная система мониторинга и реагирования на инциденты" />
<meta name="twitter:image:src" content="https://auraesm.com/img/social_cover.jpg" />
<meta name="twitter:url" content="https://auraesm.com/" />
<meta name="twitter:domain" content="auraesm.com" />
<!--Share--> 

<!--favicons-->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<link rel="icon" href="/favicon/favicon.ico" sizes="any" />
<link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml">
<link rel="manifest" href="/favicon/manifest.json" />
<meta name="theme-color" content="#00CC66" />
<!--favicons--> 

<link rel="stylesheet" href="css/main.css" />
<script src="js/vendor/jquery-3.7.1.min.js"></script>
</head>
<body itemscope itemtype="https://schema.org/Organization">
<header class="header">
    <div class="container-fluid main-container">
        {% include "header.html" %}
    </div>
</header>

<main class="main">
    {% block content %}{% endblock %}
</main>

<footer class="footer" id="contacts">
    <div class="container-fluid main-container">
        {% include "footer.html" %}
    </div>
</footer>

{% include "svg.html" %}

<script src="js/main.js"></script>
</body>
</html>
