<div class="footer-row row no-gutters">
    <div class="col-md-6 footer-row__logo">
        Одна система. Единый контроль. Реальная безопасность.
    </div>
    <div class="col-md-6 footer-row__contacts">
        <h4>Контактная информация компании:</h4>
        <p>ООО “КОРТЕКС”</p>
        <p>адрес: г. Краснодар, ул. Северная, д. 324, офис 12/2</p>
        <p>е-mail: <a href="mailto:info@cortex.ooo" target="_blank">info@cortex.ooo</a></p>
        <p>телефон: <a href="tel:89181888458">8 918 188 8458</a></p>
        <p>Cайт компании: <a href="https://cortex.ooo" target="_blank">https://cortex.ooo</a></p>
    </div>
    <div class="col-12 footer-row__copyright">
        © 2025 All Rights Reserved
    </div>
</div>
