<div class="footer-row row">
    <div class="col-12 footer-row__social">
    </div>
    <div class="col-md-6 footer-row__logo">
        <h3>Одна система. Единый контроль. Реальная безопасность.</h3>
    </div>
    <div class="col-md-6 footer-row__contacts" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        <h3>Контактная информация компании:</h3>
        <div class="color-gray">
            <p itemprop="name">ООО “КОРТЕКС”</p>
            <p>Адрес: <span itemprop="addressLocality">г. Краснодар</span>, <span itemprop="streetAddress">ул. Северная, д. 324, офис 12/2</span></p>
            <p>E-mail: <a href="mailto:info@cortex.ooo" target="_blank" itemprop="email">info@cortex.ooo</a></p>
            <p>Телефон: <a href="tel:89181888458" itemprop="telephone">8 918 188 8458</a></p>
            <p>Cайт компании: <a href="https://cortex.ooo" target="_blank" itemprop="url">cortex.ooo</a></p>
        </div>
    </div>
    <div class="col-12 footer-row__copyright color-gray size-small">
        © 2025 All Rights Reserved
    </div>
</div>
