<nav class="main-menu">
    <ul class="not-list">
        <li><a href="#index" class="link">Главная</a></li>
        <li><a href="#system-capabilities" class="link">Возможности системы</a></li>
        <li><a href="#how-it-works" class="link">Как работает</a></li>
        <li><a href="#system-architecture" class="link">Архитектура системы</a></li>
        <li><a href="#advantages" class="link">Преимущества</a></li>
        <li><a href="#contacts" class="link">Контакты</a></li>
        <li class="main-menu__call-mobile">
            <button type="button" class="button" onclick="call_me_dialog.showModal();">Заказать демонстрацию</button>
        </li>
    </ul>
</nav>
