@use '../base/mixins';
/*------------------*
# Typography
*------------------*/

/*
 * Headings
*/
h1, h2, h3, h4, h5 {
    &:not(.constant-margin):last-child {
        margin-bottom: 0;
    }
}

h1, h2 {
    font-size: clamp(1.5rem, 0.75rem + 3.75vw, 3.75rem);
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1.5rem;
    text-align: center;
}
h3 {
    font-size: clamp(1.25rem, 1.0417rem + 1.0417vw, 1.875rem);
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1rem;
}
h4 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 1rem;
}
h5 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 1rem;
}

/*
 * List
*/
.not-list {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    li {
        padding: 0;
        margin: 0;
        &:before {
            display: none;
        }
    }
}
ul, ol {
    padding: 0;
    list-style-position: inside;
    margin-bottom: 1rem;
    li {
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
ul {
    list-style-type: none;
    color: currentColor;
    li:before {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background-color: currentColor;
        mask-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10.0868 4.36784C10.6911 2.59929 13.1348 2.54572 13.8513 4.20716L13.912 4.36886L14.7275 6.75388C14.9144 7.30086 15.2165 7.80138 15.6132 8.22171C16.01 8.64203 16.4924 8.97237 17.0277 9.19045L17.247 9.27231L19.632 10.0869C21.4006 10.6912 21.4541 13.1348 19.7937 13.8514L19.632 13.912L17.247 14.7276C16.6998 14.9143 16.1991 15.2163 15.7786 15.6131C15.3581 16.0099 15.0276 16.4923 14.8094 17.0277L14.7275 17.246L13.913 19.632C13.3086 21.4006 10.865 21.4541 10.1494 19.7937L10.0868 19.632L9.27223 17.247C9.08545 16.6998 8.78347 16.1991 8.38668 15.7786C7.98988 15.3581 7.5075 15.0276 6.97208 14.8094L6.75379 14.7276L4.36875 13.913C2.59917 13.3087 2.54561 10.865 4.20705 10.1495L4.36875 10.0869L6.75379 9.27231C7.30077 9.0854 7.8013 8.78337 8.22163 8.38658C8.64195 7.9898 8.9723 7.50748 9.19037 6.97217L9.27223 6.75388L10.0868 4.36784Z" /></svg>');
        mask-position: center center;
        mask-repeat: no-repeat;
    }
}

/*
 * ------------------
*/
img {
    max-width: 100%;
}
p {
    &:last-child {
        margin-bottom: 0;
    }
}
a {
    color: inherit;
    text-decoration: none;
    text-underline-offset: 3px;
    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }
}
.opacity-link {
    transition: 0.3s;
    transition-property: opacity;
    opacity: 1;
    &:hover {
        opacity: 0.8;
    }
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.align-center {
    text-align: center;
}
.size-small {
    font-size: 0.875em;
}
.size-medium {
    font-size: 1.3125em;
    @include mixins.mobile-768 {
        font-size: 1rem;
    }
}
.size-big {
    font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
    line-height: 1.3;
}
.weight-normal {
    font-weight: 400;
}
.weight-medium {
    font-weight: 500;
}
.weight-semibold {
    font-weight: 600;
}
.nowrap {
    white-space: nowrap;
}

.color-primary {
    color: var(--color-primary);
}
.color-white {
    color: var(--color-white);
}
.color-black {
    color: var(--color-black);
}
.color-gray {
    color: var(--color-gray);
}
.color-red {
    color: var(--color-red);
}
.color-green {
    color: var(--color-green);
}