{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="section section--full-height" id="index">
    <div class="section__content">
        <div class="container-fluid main-container">
            
            <h1><span class="color-primary">Архитектура контроля</span>, где каждое действие просчитано заранее</h1>
            
            <div class="align-center">
                Алгоритмы фиксируют, анализируют и реагируют быстрее человека. <br/>
                Каждое событие имеет контекст, каждое решение — подтверждение.
            </div>

        </div>
    </div>
</section>


<section class="section" id="system-capabilities">
    <div class="section__content">
        <div class="container-fluid main-container">
            
            <h2>Возможности системы</h2>

            <div class="align-center">Cистема решает всё - от инцидентов до отчётности.</div>

        </div>
    </div>
</section>


<section class="section" id="how-it-works">
    <div class="section__content">
        <div class="container-fluid main-container">

            <h2>Узнать, как работает система</h2>
                        
        </div>
    </div>
</section>


<section class="section" id="system-architecture">
    <div class="section__content">
        <div class="container-fluid main-container">

            <h2>Архитектура системы</h2>
            
        </div>
    </div>
</section>


<section class="section" itemscope itemtype="https://schema.org/FAQPage" id="advantages">
    <div class="section__content">
        <div class="container-fluid main-container">

            <h2>Бизнес-ценность решения</h2>

            <article class="accordion" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <input type="checkbox" id="faq-item-1" checked />
                <h5 class="accordion__heading">
                    <label for="faq-item-1" class="accordion__switch">
                        <span class="accordion__switch__text" itemprop="name">Что такое один пай?</span>
                        <span class="accordion__switch__icon"></span>
                    </label>
                </h5>
                <div class="accordion__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div class="accordion__content__body" itemprop="text">
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                    </div>
                </div>
            </article>

            <article class="accordion" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <input type="checkbox" id="faq-item-2" />
                <h5 class="accordion__heading">
                    <label for="faq-item-2" class="accordion__switch">
                        <span class="accordion__switch__text" itemprop="name">Как получать прибыль?</span>
                        <span class="accordion__switch__icon"></span>
                    </label>
                </h5>
                <div class="accordion__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div class="accordion__content__body" itemprop="text">
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                    </div>
                </div>
            </article>

            <article class="accordion" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <input type="checkbox" id="faq-item-3" />
                <h5 class="accordion__heading">
                    <label for="faq-item-3" class="accordion__switch">
                        <span class="accordion__switch__text" itemprop="name">Чем я могу владеть?</span>
                        <span class="accordion__switch__icon"></span>
                    </label>
                </h5>
                <div class="accordion__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div class="accordion__content__body" itemprop="text">
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                    </div>
                </div>
            </article>

            <article class="accordion" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <input type="checkbox" id="faq-item-4" />
                <h5 class="accordion__heading">
                    <label for="faq-item-4" class="accordion__switch">
                        <span class="accordion__switch__text" itemprop="name">Что такое ЗПИФ?</span>
                        <span class="accordion__switch__icon"></span>
                    </label>
                </h5>
                <div class="accordion__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div class="accordion__content__body" itemprop="text">
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}
