{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="section section--full-height" id="index">
    <div class="section__content">
        <div class="container-fluid main-container">
            
            <h1><span class="color-primary">Архитектура контроля</span>, где каждое действие просчитано заранее</h1>

            <div class="align-center color-gray">
                Алгоритмы фиксируют, анализируют и реагируют быстрее человека. <br/>
                Каждое событие имеет контекст, каждое решение — подтверждение.
            </div>

            <br/>
            <div>
                bg image
            </div>

            <div class="row">
                <div class="icon-item">
                    <svg class="svg-icon svg-icon--fill"><use xlink:href="#svg-ai-fill"></use></svg>
                    <span class="icon-item__text">AI-анализ событий</span>
                </div>
                <div class="icon-item">
                    <svg class="svg-icon"><use xlink:href="#svg-ai-fill"></use></svg>
                    <span class="icon-item__text">Централизованный контроль</span>
                </div>
                <div class="icon-item">
                    <svg class="svg-icon"><use xlink:href="#svg-ai-fill"></use></svg>
                    <span class="icon-item__text">Открытые и закрытые контуры</span>
                </div>
                <div class="icon-item">
                    <svg class="svg-icon"><use xlink:href="#svg-ai-fill"></use></svg>
                    <span class="icon-item__text">Автоматическая отчётность</span>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="section" id="system-capabilities">
    <div class="section__content">
        <div class="container-fluid main-container">
            
            <h2>Возможности системы</h2>

            <div class="align-center color-gray">
                <p>Cистема решает всё - от инцидентов до отчётности.</p>
            </div>

            <div class="flip-cards">

                <article class="flip-card-item">
                    <div class="flip-card-item-content">
                        <div class="block flip-card-item-front">
                            <div class="flip-card-item-icon">
                                <svg class="svg-icon"><use xlink:href="#svg-bell"></use></svg>
                            </div>
                            <h4>Мониторинг и фиксация событий</h4>
                            <div class="color-gray">
                                <div class="weight-semibold">Единый поток данных в реальном времени.</div>
                                <div>Каждый сигнал фиксируется, каждый инцидент требует реакции.</div>
                            </div>
                        </div>
                        <div class="block block--bg-color-gray flip-card-item-back">
                            <ul>
                                <li>Система в реальном времени фиксирует все тревожные сигналы — от датчиков, 
                                    камер и сетевых сенсоров, обеспечивая полный контроль событий.</li>
                                <li>Оператор не может пропустить ни одно событие: каждое требует подтверждения и анализа.</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card-item">
                    <div class="flip-card-item-content">
                        <div class="block flip-card-item-front">
                            <div class="flip-card-item-icon">
                                <svg class="svg-icon svg-icon--fill"><use xlink:href="#svg-ai"></use></svg>
                            </div>
                            <h4>Искусственный интеллект</h4>
                            <div class="color-gray">
                                <div class="weight-semibold">Интеллект, который видит закономерности.</div>
                                <div>Выявляет угрозы, прогнозирует последствия, формирует сценарии реагирования.</div>
                            </div>
                        </div>
                        <div class="block block--bg-color-gray flip-card-item-back">
                            <ul>
                                <li>Объединяет видеопотоки, сенсоры и сетевые события.</li>
                                <li>Выделяет закономерности;Расставляет приоритеты по уровню угрозы.</li>
                                <li>Прогнозирует возможные последствия на основе истории.</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card-item">
                    <div class="flip-card-item-content">
                        <div class="block flip-card-item-front">
                            <div class="flip-card-item-icon">
                                <svg class="svg-icon svg-icon--fill"><use xlink:href="#svg-camera"></use></svg>
                            </div>
                            <h4>Онлайн-видеомониторинг и архив</h4>
                            <div class="color-gray">
                                <div class="weight-semibold">Видеть всё — в любой момент.</div>
                                <div>Видео, тепловизоры, дроны и архив собраны в едином окне для точного и спокойного контроля.</div>
                            </div>
                        </div>
                        <div class="block block--bg-color-gray flip-card-item-back">
                            <ul>
                                <li>Просмотр всех камер в реальном времени.</li>
                                <li>Фильтрация по объектам и зонам.</li>
                                <li>Быстрая выгрузка видеоархива в MP4 за выбранный период.</li>
                                <li>Привязка видео к событиям и отчётам.</li>
                                <li>Тепловизоры - контроль активности в темноте и фиксация перегрева техники.</li>
                                <li>Распознавание лиц - мгновенная идентификация сотрудников и посетителей.</li>
                                <li>Детекция дронов - фиксация и отслеживание несанкционированных беспилотников.</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card-item">
                    <div class="flip-card-item-content">
                        <div class="block flip-card-item-front">
                            <div class="flip-card-item-icon">
                                <svg class="svg-icon svg-icon--fill"><use xlink:href="#svg-processing"></use></svg>
                            </div>
                            <h4>Классификация и обработка</h4>
                            <div class="color-gray">
                                <div class="weight-semibold">Алгоритмы вместо случайности.</div>
                                <div>Система определяет приоритеты и устраняет дублирующие события.</div>
                            </div>
                        </div>
                        <div class="block block--bg-color-gray flip-card-item-back">
                            <ul>
                                <li>События делятся на категории: тревожные, предупредительные, ложные.</li>
                                <li>AI объединяет дублирующие сигналы, устраняя “шум”.</li>
                                <li>Все действия оператора фиксируются в журнале.</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card-item">
                    <div class="flip-card-item-content">
                        <div class="block flip-card-item-front">
                            <div class="flip-card-item-icon">
                                <svg class="svg-icon svg-icon--fill"><use xlink:href="#svg-lock"></use></svg>
                            </div>
                            <h4>Сетевые события и информационная безопасность</h4>
                            <div class="color-gray">
                                <div class="weight-semibold">Безопасность инфраструктуры под контролем.</div>
                                <div>AI отслеживает аномалии, сбои и несанкционированные подключения.</div>
                            </div>
                        </div>
                        <div class="block block--bg-color-gray flip-card-item-back">
                            <h5>Типы сетевых событий:</h5>
                            <ul>
                                <li>Аномальная активность на серверах или рабочих станциях.</li>
                                <li>Несанкционированные подключения к внутренней сети.</li>
                                <li>Попытки доступа к закрытым ресурсам.</li>
                                <li>Сбои связи или недоступность систем.</li>
                                <li>Изменения конфигураций и подозрительная активность записей.</li>
                            </ul>

                            <h5>Результат:</h5>
                            <ul>
                                <li>Объединённый контроль физической и сетевой среды.</li>
                                <li>Быстрое выявление комбинированных угроз.</li>
                                <li>Централизованная реакция по единому сценарию.</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card-item">
                    <div class="flip-card-item-content">
                        <div class="block flip-card-item-front">
                            <div class="flip-card-item-icon">
                                <svg class="svg-icon svg-icon--fill"><use xlink:href="#svg-application"></use></svg>
                            </div>
                            <h4>Управление заявками на посещение</h4>
                            <div class="color-gray">
                                <div class="weight-semibold">Контроль доступа в интеллектуальной форме.</div>
                                <div>Система связывает заявки, лица и время допуска в общую цепочку.</div>
                            </div>
                        </div>
                        <div class="block block--bg-color-gray flip-card-item-back">
                            <ul>
                                <li>Создание заявки - через веб или Telegram-бота.</li>
                                <li>Согласование - доступ активируется после подтверждения ответственными лицами.</li>
                                <li>Прибытие - система сверяет лицо и автомобиль с данными заявки.</li>
                                <li>Отчётность - все визиты фиксируются во вкладке “Посещения”.</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card-item">
                    <div class="flip-card-item-content">
                        <div class="block flip-card-item-front">
                            <div class="flip-card-item-icon">
                                <svg class="svg-icon svg-icon--fill"><use xlink:href="#svg-chart"></use></svg>
                            </div>
                            <h4>Отчётность и аналитика</h4>
                            <div class="color-gray">
                                <div class="weight-semibold">Контроль, подтверждённый данными.</div>
                                <div>Детальная статистика по инцидентам, действиям и эффективности.</div>
                            </div>
                        </div>
                        <div class="block block--bg-color-gray flip-card-item-back">
                            <ul>
                                <li>Отчёты по физическим, сетевым и комбинированным инцидентам.</li>
                                <li>Статистика по типам событий, времени реакции и эффективности смен.</li>
                                <li>Полная история действий персонала.</li>
                                <li>Гибкая фильтрация и экспорт.</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card-item">
                    <div class="flip-card-item-content">
                        <div class="block flip-card-item-front">
                            <div class="flip-card-item-icon">
                                <svg class="svg-icon svg-icon--fill"><use xlink:href="#svg-loupe"></use></svg>
                            </div>
                            <h4>Контроль действий персонала</h4>
                            <div class="color-gray">
                                <div class="weight-semibold">Прозрачность действий — защита от случайностей.</div>
                                <div>Фиксация решений, времени реакции и подтверждения инцидентов.</div>
                            </div>
                        </div>
                        <div class="block block--bg-color-gray flip-card-item-back">
                            <ul>
                                <li>Все действия операторов, администраторов и ответственных лиц фиксируются: время реакции, комментарии, решения, подтверждения событий.</li>
                                <li>По итогам смены формируется автоматический отчёт.</li>
                                <li>Исключён человеческий фактор — полная прозрачность и отчётность.</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card-item">
                    <div class="flip-card-item-content">
                        <div class="block flip-card-item-front">
                            <div class="flip-card-item-icon">
                                <svg class="svg-icon svg-icon--fill"><use xlink:href="#svg-calendar"></use></svg>
                            </div>
                            <h4>Контроль присутствия и фиксация проходов</h4>
                            <div class="color-gray">
                                <div class="weight-semibold">Люди, процессы, движение — под наблюдением.</div>
                                <div>Фиксация присутствия, маршрутов и нарушений расписания.</div>
                            </div>
                        </div>
                        <div class="block block--bg-color-gray flip-card-item-back">
                            <ul>
                                <li>Фиксация всех входов и выходов сотрудников и посетителей.</li>
                                <li>Расписание присутствия: можно задать, когда человек должен находиться на объекте.</li>
                                <li>Если человек вне расписания — создаётся тревожное событие.</li>
                                <li>Возможность собрать информацию об интересующем лице: где был, когда, с кем пересекался, на каком транспорте.</li>
                            </ul>

                            <h5>Результат:</h5>
                            <ul>
                                <li>Исключение несанкционированного нахождения.</li>
                                <li>Контроль дисциплины и перемещений.</li>
                                <li>Аналитика действий и передвижений по объекту.</li>
                            </ul>
                        </div>
                    </div>
                </article>

            </div><!-- .cards -->

        </div>
    </div>
</section>


<section class="section" id="how-it-works">
    <div class="section__content">
        <div class="container-fluid main-container">

            <h2>Узнать, как работает система</h2>

            <div class="align-center color-gray">
                <p>Посмотрите, как взаимодействуют модули и какие задачи они решают</p>
            </div>
                        
        </div>
    </div>
</section>


<section class="section" id="system-architecture">
    <div class="section__content">
        <div class="container-fluid main-container">

            <h2>Архитектура системы</h2>

            <div class="architecture-steps">

                <div class="block architecture-step architecture-step-1">
                    <div class="block__content">
                        <h4>
                            <span class="color-primary">Шаг 1</span>
                            <span>Источники данных</span>
                        </h4>
                        <div class="color-gray">
                            <p>Система получает сигналы от различных подсистем:</p>
                            <ul>
                                <li>Камеры и датчики — контроль объектов и параметров среды</li>
                                <li>Проходы и СКУД — контроль персонала и посетителей</li>
                                <li>Сетевые агенты — мониторинг ИБ-инфраструктуры</li>
                                <li>Telegram-бот — управление заявками на посещения</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="block architecture-step architecture-step-4">
                    <div class="block__content">
                        <h4>
                            <span class="color-primary">Шаг 4</span>
                            <span>Отчёты и уведомления</span>
                        </h4>
                        <div class="color-gray">
                            <p>Формируются автоматически на основе всех действий в Центре.</p>
                            <p>Итоговый отчёт фиксирует:</p>
                            <ul>
                                <li>Имя исполнителя, тип события, статус, комментарий</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="block architecture-step architecture-step-2">
                    <div class="block__content">
                        <h4>
                            <span class="color-primary">Шаг 2</span>
                            <span>Сборщик событий</span>
                        </h4>
                        <div class="color-gray">
                            <p>Принимает данные из всех источников, нормализует их и передаёт в Центр управления</p>
                        </div>
                    </div>
                </div>

                <div class="block architecture-step architecture-step-3">
                    <div class="block__content">
                        <h4>
                            <span class="color-primary">Шаг 3</span>
                            <span>Центр управления</span>
                        </h4>
                        <div class="color-gray">
                            <p>Единое окно, где объединяются все процессы: инциденты, видеонаблюдение, посещения</p>
                            <p>Подсистемы центра:</p>
                            <ul>
                                <li>ИИ-Аналитика — классифицирует и фильтрует события</li>
                                <li>Оператор — подтверждает, комментирует, реагирует</li>
                                <li>Посещения и доступ — обработка заявок, согласование, сверка с распознаванием лиц и временем допуска</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</section>


<section class="section" itemscope itemtype="https://schema.org/FAQPage" id="advantages">
    <div class="section__content">
        <div class="container-fluid main-container">

            <h2>Бизнес-ценность решения</h2>

            <article class="accordion" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <input type="checkbox" id="faq-item-1" checked />
                <h5 class="accordion__heading">
                    <label for="faq-item-1" class="accordion__switch">
                        <span class="accordion__switch__text" itemprop="name">Что такое один пай?</span>
                        <span class="accordion__switch__icon"></span>
                    </label>
                </h5>
                <div class="accordion__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div class="accordion__content__body" itemprop="text">
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                    </div>
                </div>
            </article>

            <article class="accordion" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <input type="checkbox" id="faq-item-2" />
                <h5 class="accordion__heading">
                    <label for="faq-item-2" class="accordion__switch">
                        <span class="accordion__switch__text" itemprop="name">Как получать прибыль?</span>
                        <span class="accordion__switch__icon"></span>
                    </label>
                </h5>
                <div class="accordion__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div class="accordion__content__body" itemprop="text">
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                    </div>
                </div>
            </article>

            <article class="accordion" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <input type="checkbox" id="faq-item-3" />
                <h5 class="accordion__heading">
                    <label for="faq-item-3" class="accordion__switch">
                        <span class="accordion__switch__text" itemprop="name">Чем я могу владеть?</span>
                        <span class="accordion__switch__icon"></span>
                    </label>
                </h5>
                <div class="accordion__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div class="accordion__content__body" itemprop="text">
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                    </div>
                </div>
            </article>

            <article class="accordion" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <input type="checkbox" id="faq-item-4" />
                <h5 class="accordion__heading">
                    <label for="faq-item-4" class="accordion__switch">
                        <span class="accordion__switch__text" itemprop="name">Что такое ЗПИФ?</span>
                        <span class="accordion__switch__icon"></span>
                    </label>
                </h5>
                <div class="accordion__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div class="accordion__content__body" itemprop="text">
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Высочайшая степень анонимности и конфиденциальности. Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                        <p>Имущество, оформленное на фонд, практически невозможно “пробить”.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


<section class="section section--bg-color-primary">
    <div class="section__content">
        <div class="container-fluid main-container">

            <h2>Хотите увидеть систему в действии?</h2>

            <div class="align-center">
                <p>Закажите демонстрацию или консультацию.</p>

                <button type="button" class="button button--bg-color-black button--width-200" onclick="call_me_dialog.showModal();">Заказать</button>
            </div>
                        
        </div>
    </div>
</section>
{% endblock %}
