/*------------------*
# FAQ (accordion)
*------------------*/
.accordion {
    position: relative;
    padding: 2rem 0;
    border-bottom: 1px solid var(--border-color-primary);
    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:checked {
            & + .accordion__heading .accordion__switch {
                opacity: 1;
            }
            & + .accordion__heading .accordion__switch .accordion__switch__icon:after {
                transform: rotate(0);
            }
            & ~ .accordion__content {
                grid-template-rows: 1fr;
            }
        }
    }
    &__heading {
        margin: 0;
    }
    &__switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        transition-duration: 0.5s;
        transition-property: opacity;
        text-decoration: none;
        margin: 0;
        opacity: 0.6;
        cursor: pointer;
        &__text {
            transition: color 0.5s;
            font-size: 1.5rem;
            font-weight: 500;
        }
        &__icon {
            display: block;
            position: relative;
            flex: 0 0 auto;
            width: 1.5rem;
            height: 1.5rem;
            &:after, &:before {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                top: 50%;
                background-color: var(--color-black);
                transition-duration: 0.5s;
                transition-property: transform;
            }
            &:after {
                transform-origin: center;
                transform: rotate(-90deg);
            }
        }
        &:hover {
            opacity: 1;
        }
    }
    &__content {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 0.5s;
        &__body {
            overflow: hidden;
            &:before {
                display: block;
                content: '';
                height: 2em;
            }
        }
    }
}