@use '../base/mixins';
/*------------------*
# Footer
*------------------*/
.footer {
    padding: 2rem 0 4rem;
    &-row {
        &__social {
            padding-bottom: 4rem;
        }
        &__logo {
            padding-right: 2rem;
            padding-bottom: 2rem;
        }
        &__contacts {
        }
        &__copyright {
            padding-top: 4rem;
        }
    }
    @include mixins.mobile-576 {
        &-row {
            padding: 2rem 0;
        }
    }
}
