.icon {
    display: inline-block;
	width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke: currentColor;
    &--fill {
        fill: currentColor;
    }
}
.icon-item {
    display: inline-flex;
    gap: 0.5rem;
}

.icon--map {
    background-image: url("../img/icons/map.svg");
}