.icon {
    display: inline-block;
	width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    &--fill {
        fill: currentColor;
    }
    &--stroke {
        stroke: currentColor;
    }
}
.svg-circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    .svg-icon {
        color: var(--font-color-secondary);
    }
}
.icon-item {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    .svg-icon, .svg-circle {
        flex: 0 0 auto;
    }
    .svg-circle {
        margin-right: 1rem;
    }
}

.icon--map {
    background-image: url("../img/icons/map.svg");
}